*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* RULES */
.container{
    width: 100%;
}
/* MOBILE FIRST */
/* HEADER */
.row{
    width: 100%;
    height: 100px;
}
.logo-header{
    width: 30%;
    height: 100px;
    background-color: blue;
    float: left;
}
.menu-header{
    width: 30%;
    height: 100px;
    background-color: red;
    float: right;
}

/* MAIN */


/* TABLET */
@media screen and (min-width:768px){
    .container{
        width: 100%;
    }
}
/* DESKTOP */
@media screen and (min-width:991px){
    .container{
        width: 1140px;
        margin: 0 auto;
    }
}
/* LARGE DESKTOP */
@media screen and (min-width:1200px){
    .container{
        max-width: 1140px;
        margin: 0 auto;
    }
}