*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* RULES */
.container{
    max-width: 600px;
    margin: 0 auto;
}

body, a{
    font-family: 'Noto Sans JP', sans-serif;
}
/* UTILITIES */
.flex-desktop{
    display: flex;
    flex-direction: column;
}

.row, .flex-tablet{
    display: flex;
    flex-direction: column;
}

.text-center{
    text-align: center;
}

.flex-center{
    justify-content: center;
}

ul li{
    list-style: none;
    display: inline;
    padding-right: 30px;
}

.left-content-about-us{
    padding: 8px 10px;
    font-size: 20px;
}

.apple{
    margin-right: 10px;
}

.button, .button-apple{
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;
}

.button-apple{
    padding: 10px 80px;
}
.blue{
    background-color: rgba(0,132,253,255);
}

.violet{
    background-color: rgba(150,146,229,255);
}

.h3-demo, .icons-demo{
    color: rgba(1,132,252,255);
}

#planning, #benefits, #get-started{
    background-color: rgba(150,146,229,255);
}

.cursive{
    font-style: italic;
}

.margin-bottom-40{
    margin-bottom: 40px;
}

.margin-bottom-60{
    margin-bottom: 60px;
}
.margin-top-30{
    margin-top: 30px;
}

p{
    font-weight: 500;
}

h2{
    font-size: 35px;
}
.w-200{
    font-weight: 200;
}

.w-300{
    font-weight: 300;
}
.w-400{
    font-weight: 400;
}
.violet-text{
    color: rgba(150,146,229,255);
}

.l-h{
    line-height: 1.8;
}
/* MOBILE FIRST under 768px */
/* HEADER */
#header{
    background-color: rgba(0,132,253,255);
    padding: 5px 0;
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 90px;
}
.logo-header, .menu-header{
    color: white;
    padding-top: 2px;
    margin: 10px 20px;
}

.menu-header{
    text-align: right;
} 

.hamburger{
    font-size: 25px;
}

.extended-menu{
    display: none;
}

.link-header{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 16px;
}

#button-header{
    color: black;
    border-radius: 30px;
    border-style: none;
    font-size: 16px;
    font-weight: 300;
    padding: 7px 13px;
    background-color: white;
}
/* MAIN */
/* DEMO */
#demo{
    background-color: white;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 20px;
}

#phone{
    width: 400px;
    position: relative;
    top: 6px;
    margin-top: 10px;
}

.icons-demo{
    font-size: 80px;
    margin-bottom: 20px;
}

.h3-demo{
    margin-bottom: 25px;
    font-size: 30px;
}

.col-30, .col-double{
    width: calc(100% - 20px);
    margin: 10px;
    background-color: rgba(181,220,254,255);
    border-radius: 20px;
}

.col-30{
    text-align: center;
    padding: 40px;
}
.left-content-demo{
    margin: 40px;
}

.right-content-demo{
    text-align: center;
}
/* PLANNING */

.h3-plan{
    font-size: 30px;
    margin-top: 50px;
}
.col-50{
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.img-planning-1, .img-planning-2{
    width: 100%;
}

.left-content-planning, .right-content-planning{
    padding: 40px;
    line-height: 1.8;
}

.left-content-planning{
    color: white;
}
.right-content-planning{
    background-color: white;
    border-radius: 5%;
    text-align: center;
}

.h4-app-dev{
    font-size: 25px;
    margin-bottom: 15px;
}

.arrow-down{
    background-color: rgba(150,146,229,255);
    border-radius: 50%;
}
/* TESTIMONIALS */
#testimonials{
    background-color: white;
    text-align: center;
}
.col-100{
    width: calc(100% - 20px);
    margin: 10px;
    padding: 40px;
}
.col-100-testimonials{
    width: calc(100% - 20px);
    margin: 10px;
    padding: 40px;
    background-color: rgba(150,146,229,255);
    border-radius: 12%;
}
.img-testimonials, .img-about{
    height: 100%;
    width: auto;
    margin-left: -25%;
}

.left-content-testimonials{
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.h4-testimonials{
    font-size: 18px;
    margin-top: 30px;
}
h1{
    color: rgba(252,192,95,255);
}
.right-content-testimonials{
    color: white;
    line-height: 2;
    font-size: 17px;
}
/* BENEFITS */
.col-30-b{
    width: calc(100% - 20px);
    margin: 10px;
    background-color: white;
    border-radius: 15px;
}
/* ABOUT US */
#about-us{
    background-color: white;
}

/* GET STARTED */
#get-started{
    color: white;
}

/* FOOTER */
#footer{
    background-color: rgba(51,50,50,255);
    color: white;
}


            /* SCALING */
                /* TABLET */
                @media screen and (min-width:768px){
                    .container{
                        max-width: 760px;
                    }
                    .row{
                        flex-direction: row;
                        flex-wrap: wrap;
                    }
                    .col-double{
                        width: calc(100% / 3 * 2 - 20px);
                    }

                    .col-30{
                        width: calc(100% / 3 - 20px);
                        padding: 20px;
                    }
                    .col-30-b{
                        width: calc(100% / 2 - 20px);

                    }

                    .right-content-demo{
                        text-align: left;
                    }
                }
                /* DESKTOP */
                @media screen and (min-width:991px){
                    .container{
                        max-width: 980px;
                    }
                    .hamburger{
                        display: none;
                    }
                    .extended-menu{
                        display: block;
                    }
                    .col-50{
                        width: calc(100% - 20px);
                    }
                    .flex-tablet{
                        flex-direction: row;
                    }
                    .col-30-b{
                        width: calc(100% / 3 - 20px);
                    }
                    #phone{
                        top: 145px;
                    }

                }
                /* LARGE DESKTOP */
                @media screen and (min-width:1200px){
                    .container{
                        max-width: 1140px;
                    }
                    #phone{
                        top: 29px;
                    }
                }