*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* RULES */
.container{
    max-width: 800px;
    margin: 0 auto;
}

body, button{
    font-family: 'Noto Sans JP', sans-serif;
}
/* UTILITIES */
.flex-tablet{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-desktop{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-center{
    text-align: center;
}

.flex-center{
    justify-content: center;
}

ul li{
    list-style: none;
    display: inline;
    padding-right: 30px;
}

.left-content{
    padding: 8px 10px;
    font-size: 20px;
}

.button{
    background-color: rgba(0,132,253,255);
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;
}

.h3-demo, .icons-demo{
    color: rgba(1,132,252,255);
}

#planning, #benefits, #get-started{
    background-color: rgba(150,146,229,255);
}
/* MOBILE FIRST under 768px */
/* HEADER */
#header{
    background-color: rgba(0,132,253,255);
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 90px;
}
.logo-header, .menu-header{
    color: white;
    padding-top: 2px;
    margin: 10px 20px;
}

.menu-header{
    text-align: right;
} 

.hamburger{
    font-size: 25px;
}

.extended-menu{
    display: none;
}

.link-header{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 16px;
}

#button-header{
    color: black;
    border-radius: 30px;
    border-style: none;
    font-size: 16px;
    font-weight: 300;
    padding: 7px 13px;
    background-color: white;
}
/* MAIN */
/* DEMO */
#demo{
    background-color: white;
    margin-top: 40px;
}
.col-30-double, .col-30{
    width: calc(100% - 20px);
    margin: 10px;
    padding: 40px;
    background-color: rgba(181,221,255,255);
    border-radius: 5%;
}

.col-30{
    text-align: center;
}
#phone{
    width: 400px;
    max-width: 100%;
}

.icons-demo{
    font-size: 80px;
    margin-bottom: 20px;
}

.h3-demo{
    margin-bottom: 25px;
}
/* PLANNING */
.col-50{
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.img-planning-1, .img-planning-2{
    width: 100%;
}

.left-content-planning, .right-content-planning{
    padding: 40px;
}

.left-content-planning{
    color: white;
}
.right-content-planning{
    background-color: white;
    border-radius: 10%;
    text-align: center;
    margin: 0 30px;
}
/* PARTNERS */
#partners{
    background-color: white;
}
.col-100{
    width: calc(100% - 20px);
    margin: 10px;
    background-color: aqua;
}

/* BENEFITS */
.col-30-b{
    width: calc(100% - 20px);
    height: 200px;
    margin: 10px;
    background-color: yellow;
}

/* ABOUT US */
#about-us{
    background-color: white;
}

/* GET STARTED */


/* FOOTER */
#footer{
    background-color: rgba(51,50,50,255);
}


            /* SCALING */
                /* TABLET */
                @media screen and (min-width:768px){
                    .container{
                        max-width: 750px;
                    }
                    .row{
                        width: 100%;
                        flex-direction: row;
                        flex-wrap: wrap;
                    }
                    .col-30-double{
                        width: calc(100% / 3 * 2 - 20px);
                    }
                    .col-30{
                        width: calc(100% / 3 - 20px);
                    }
                    .flex-tablet{
                        flex-direction: row;
                    }
                    .col-30-b{
                        width: calc(100% / 2 - 20px);
                    }
                }
                /* DESKTOP */
                @media screen and (min-width:991px){
                    .container{
                        max-width: 950px;
                    }
                    .hamburger{
                        display: none;
                    }
                    .extended-menu{
                        display: block;
                    }
                    .col-50{
                        width: calc(100% - 20px);
                    }
                    .flex-desktop{
                        flex-direction: row;
                        align-items: center;
                    }
                    .col-30-b{
                        width: calc(100% / 3 - 20px);
                    }

                }
                /* LARGE DESKTOP */
                @media screen and (min-width:1200px){
                    .container{
                        max-width: 1170px;
                    }
                }